@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.section-heading {
  @apply text-neutral-10 text-lg md:text-2xl lg:text-[36px] text-center font-bold leading-[28px] md:leading-[38px] lg:leading-[57px] capitalize
}

.details-section-heading {
  @apply text-neutral-10 text-lg md:text-2xl xl:text-[30px] font-semibold leading-normal xl:leading-[48px]
}
.details-section-subHeading {
  @apply text-neutral-90 text-sm md:text-base xl:text-xl font-semibold leading-normal xl:leading-8
}
.details-section-paragraph {
  @apply text-neutral-90 font-semibold text-xs md:text-sm leading-6
}


::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #08578b; /* Set the color of the scrollbar handle */
    border-radius: 3px; /* Set border radius */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #222661;
    border-radius: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }